* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}
h1{
    text-align: center;

}
h2{
    text-align: center;
}
body {
    background-image: url(../img/j3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    opacity: 90%;
}

header {
    background-color: black;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.content{
    width: 25%;
    align-items: left;
}
.logo{
    width: 10%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid yellow;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px;
}

a:hover {
    background-color: black;
    color: white;
    border-color: white;
}

img {
    width: 60%; 
    display: block;
    margin: 0 auto;
}

.docent-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
    padding: 20px;
    gap: 20px;
}

.docent {
    text-align: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 18%;
}

.docent h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.docent img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.docent p {
    font-size: 0.9em;
    padding-top: 10px;
}
.Rooster{
    opacity: 95%;
}
.imgr{
    padding-top: 25px;
    align-items: center;
    width: 100%;
}
.info{
    padding: 100px;
    background-color: black;
    opacity: 95%;
}
.mening{
    font-size: 1.5em;
    text-align: center;
    padding-left: 25px;
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;    
    }
}